* {
    margin: 0px;
    padding: 0px;
    font-family: 'Outfit', sans-serif;
}

body {
    max-width: 1280px;
}

/*******************HEADER*+****************/
header {
    justify-content: space-between;
    padding: 0 40px;
    background: #2B2A2B;
    height: 64px;
    display: flex;
    align-items: center;
    gap: 39px;
}

.headerLogo img {
    display: flex;
}

.headerLogo {
    font-weight: 400;
    font-size: 23.4628px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 8px;
}

.headerLogo a {
    font-size: 23.4628px;
    color: #FFFFFF;
    text-decoration: none;
}

.headerLink {
    display: flex;
    gap: 32px;
}

.headerLink a {
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: none;
}

.headerLink a:hover {
    padding: 0.5px;
    cursor: pointer;
}

.headerContact {
    margin-right: 1.5rem;
    display: flex;
    color: #FFFFFF;
    align-items: center;
    font-size: 14px;

}

.headerContact p {
    margin: 0 11px;
}

.inicioSesion {
    background: #515051;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    padding: 12px 24px;
    margin-left: 15px;
}

.inicioSesion:hover {
    background-color: #6e6c6e;
    cursor: pointer;
}

.headerLogo2{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.contador{
    padding: 5px;
    margin-left: 5px;
    background-color: #515051;
    color: #E3DED7;
    border-radius: 15px;
}

/**************************Section Uno***************/
.Cesta {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background: #FFFFFF;
    margin-bottom: 150px;
}

.Cesta h2 {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    color: #2A5B45;
    margin-bottom: 24px;
}

/****************************Tabla******************/
.tablaCompleta {
    display: flex;
    justify-items: center;
}

.tablaPoductos {
    display: flex;
    flex-direction: column;
}

.infoCompra {
    display: flex;
    flex-direction: column;
    height: 247px;
    padding: 24px;
    gap: 16px;
    margin-left: 50px;
    background: #F7F5F3;
}

.infoCompra h3 {
    font-size: 18px;
    font-weight: 24px;
}

.tablaPoductos h3 {
    font-size: 18px;
    font-weight: 24px;
    margin-top: 15px;
    margin-bottom: 24px;
}

/**************************Productos***********************/
.producto1 {
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
    margin-bottom: 15px;
    font-size: 14px;
}

.counter{
    display: flex;
    justify-content: center;
}

.botonNegativo {
    background-color: #FFFFFF;
    border: none;
    margin-right: 5px;
}

.botonNegativo:hover {
    cursor: pointer;
}

.botonPositivo {
    background-color: #FFFFFF;
    border: none;
    gap: 2px;
    margin-left: 5px;
}

.botonPositivo:hover {
    cursor: pointer;
}

.contador {
    visibility: hidden;
    padding: 6px;
    background-color: rgba(42, 91, 69, 0.1);
    border-radius: 200px;
}

.cafeEscogido img {
    width: 55.66px;
    height: 55.66px;
}

.producto1:nth-of-type(2) {
    margin-top: 15px;
}

.precio {
    margin-left: 290px;
    font-weight: 600;
    font-size: 18px;
}

/****************************TIPO DE ENVIO ******************/
.envioGratis {
    display: flex;
    flex-direction: row;
    gap: 22px;
    align-items: center;
    margin-bottom: 15px;
    font-size: 14px;
}

.precioEnvio {
    margin-left: 410px;
    font-weight: 600;
    font-size: 18px;
}

.envioUrgente {
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 14px;
}

.precioEnvio2 {
    margin-left: 110px;
    font-weight: 600;
    font-size: 18px;
}

/*************************tabla compra************************/
.subtotal {
    display: flex;
    flex-direction: row;
    gap: 178px;
    font-size: 14px;
}

.envio {
    display: flex;
    flex-direction: row;
    gap: 208px;
    font-size: 14px;
}

.total {
    display: flex;
    flex-direction: row;
    gap: 205px;
    font-size: 14px;
}

.botones {
    display: flex;
    justify-content: start;
    gap: 25px;
    margin-top: 15px;
}


.irCheckout {
    padding: 12px 24px;
    background: #2A5B45;
    border-radius: 4px;
}

.irCheckout:hover{
    background-color:#204404;
    cursor: pointer;
}
.irCheckout a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 14px;
}

.tienda {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    font-size: 14px;
}

/****************************PIE DE PAGINA******************/
.pieDePagina {
    display: flex;
    justify-content: center;
    font-size: 14px;
    padding: 12px;
    color: #FFFFFF;
    background-color: #2B2A2B;
    text-align: center;
}